input,
button {
  font-size: 1.1em;
  text-align: center;
}

#setting-box {
  position: fixed;
  z-index: 2;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background: #fffb;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  display: none;
}

#info,
#charim {
  border: 1px solid #888;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

#close-btn {
  margin: 10px 10px 10px auto;
}

#restart-now-btn,
#restart-btn {
  margin: 10px;
  width: 100%;
  height: 3em;
}

#control-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
}

#prev,
#next,
#score-han,
#score-cho,
#score-diff,
#turn {
  width: 3em;
  height: 3em;
}

#score-han {
  background-color: #FAA;
}

#score-cho {
  background-color: #AAF;
}

.charim1,
.charim0 {
  background-color: #EFEFEF;
  border: 1px solid #888;
}

.charim1:first-of-type,
.charim0:first-of-type {
  background-color: #CCC
}